<% var meta = {
                title:'top',
                slug:'top',
                path:'./'
              }; %><% include _common/_header %>

<div class="lines">
  <div class="lines__item -top"></div>
  <div class="lines__item -middle"></div>
  <div class="lines__item -bottom"></div>
</div>

<p class="name">あらかじめ決められた線と円</p>

<% include _common/_footer %>