<% var meta = {
                title:'top',
                slug:'top',
                path:'./'
              }; %><% include _common/_header %>

<div class="lines">
  <div class="lines__item"></div>
</div>

<p class="name">あらかじめ決められた線と円</p>
<% include _common/_footer %>